---
# Install tasks common to all distros

- block:
    - name: get virtualbox downloads page
      uri:
        url: https://www.virtualbox.org/wiki/Downloads
        return_content: yes
      register: virtualbox_engine_get_downloads_result

    - name: install virtualbox dependency packages
      package:
        name: "{{ virtualbox_engine_dependency_packages[distro_packages_key] }}"
        state: present

    - name: install virtualbox packages
      package:
        name: "{{ virtualbox_engine_packages[distro_packages_key] }}"
        state: present
      register: virtualbox_engine_install_result

    - block:
        - name: get virtualbox kernel modules status
          shell: "{{ command }} status"
          changed_when: no
          register: virtualbox_engine_modules_status_result

        - name: rebuild virtualbox kernel modules
          shell: "{{ command }} setup"
          when: >-
            virtualbox_engine_install_result is changed
            or not virtualbox_engine_modules_status_result.stdout
                   is search(".* are loaded")
          register: virtualbox_engine_rebuild_result
      vars:
        command: >-
          {{ (ansible_facts.distribution | lower == "rhel"
              and ansible_facts.distribution_major_version == "6")
             | ternary("service vboxdrv",
                       "/usr/lib/virtualbox/vboxdrv.sh") }}

    - name: install pexpect python package
      pip:
        name: "pexpect>=3.3"
        state: present

    - name: get virtualbox extension pack status
      shell: "VBoxManage list extpacks"
      changed_when: no
      register: virtualbox_engine_extpacks_status_result

    - block:
        - name: download virtualbox extension pack installation package
          get_url:
            url: "{{ package }}"
            dest: "{{ virtualbox_engine_extension_pack_tmp_file }}"
          vars:
            package: >-
              {{ virtualbox_engine_get_downloads_result.content.splitlines()
                 | select("search", "Oracle_VM_VirtualBox_Extension_Pack")
                 | map("regex_replace", ".*(https:.*\.vbox-extpack).*", "\1")
                 | list
                 | first }}

        - name: install virtualbox extension pack
          expect:
            command: >-
              VBoxManage extpack install
              {{ virtualbox_engine_extension_pack_tmp_file }}
            responses:
              "Do you agree to these license terms and conditions": y
          changed_when: >-
            virtualbox_engine_extension_install_result.stdout
            is search("Successfully installed")
          failed_when: >-
            not virtualbox_engine_extension_install_result.stdout
                is search("Successfully installed")
          register: virtualbox_engine_extension_install_result
      when: >-
        not virtualbox_engine_extpacks_status_result.stdout
            is search("Oracle VM VirtualBox Extension Pack")

    - name: remove virtualbox extension pack installation package
      file:
        path: "{{ virtualbox_engine_extension_pack_tmp_file }}"
        state: absent
  vars:
    distro_packages_key: >-
      {{ ansible_facts.distribution
         | lower + "_" + ansible_facts.distribution_major_version }}
  tags:
    - role::virtualbox_engine
    - role::virtualbox_engine::packages
    - role::virtualbox_engine::install
