---
# Install tasks for Red Hat

- name: Setup virtualbox repository
  yum_repository:
    name: virtualbox
    description: >-
      Oracle Linux / RHEL / CentOS-$releasever / $basearch - VirtualBox
    baseurl: >-
      {{ "http://download.virtualbox.org/virtualbox/rpm/"
         + subfolder
         + "/$releasever/$basearch" }}
    enabled: yes
    gpgkey: https://www.virtualbox.org/download/oracle_vbox.asc
  vars:
    subfolder: >-
      {{ (ansible_facts.distribution | lower in ["centos", "redhat"])
         | ternary("el", ansible_facts.distribution | lower) }}
  tags:
    - role::virtualbox
    - role::virtualbox::packages
    - role::virtualbox::install
